# Copier ce fichier en .env et remplir vos valeurs

SECRET_KEY=changez_cette_cle_tres_longue_et_aleatoire
DEBUG=True

# Base de données PostgreSQL
DB_NAME=mairie_lome_lb
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Email (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=votre@gmail.com
EMAIL_HOST_PASSWORD=votre_mot_de_passe_app
DEFAULT_FROM_EMAIL=noreply@mairie-lome.tg
